*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


.card_wrapper {
    height:377px ;
    width:47% ;
    border-radius: 3.8px;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    border: solid 0.2px brown;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card_top{
    height: 233px;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/college_02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.712);
    background-size: cover;
}

.promote {
    z-index: 20;
    align-self: flex-end;
    margin-bottom: 10px;
}

.rating {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 53px;
    color: #ffffff;
    border-radius: 3.8px;
    background-color: #f5a626;
    margin-right: 40px;
}

.ranking{
    color: #ffffff;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.college_pill{
    margin-left: 10px ;
}
.rank {
    margin-right: 10px ;
}
.college_pill .button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}


.card_bottom {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.left{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bottomost{
    display: flex;
    justify-content: space-between;
}
.offer {
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0 ;
    font-size: 13px;
    height: 41px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fees .fa-inr {
    color: red;
}

.duration {
    font-size: 13px;
    margin-right: 28px;
    color: rgba(68, 68, 68, 0.8);
}

.amneties {
    color: #37b396;
    font-weight: bolder;
    padding: 10px;
}

@media only screen and (max-width: 999px){
    .container {
        flex-direction: column;
    }
    .card_wrapper {
        width: 95%;
    }
}